.homeButton__main{
    background-color: lighten($color: $background, $amount: 10);
    border: 3px solid #018080;
    border-radius: 40px 40px 40px 40px;
    color: $letter;
    height:7vh;
    margin-top: 2%;
    transition:all .5s ease;
    width: 15%;
    span{
        font-size: 20px;
        padding-left: 3%;
    }
    &:hover {
        background-color: #018080;
        color: white;  
      }
}

.homeButton__anchor{
    margin-left: 43.5%;
    
}

.button__anchor{
    margin-left: 43%;
}
