.navbar__main {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 3%;
}

.navbar__logo {
  align-items: center;
  display: flex;
  span{
    font-size:25px;
    font-weight: 900;
  }

  img {
    display: block;
    height: 70px;
    margin-bottom: 1.6rem;
    width: 70px;
  }
}

.navbar__inputSearch {
  background-color: rgb(37, 35, 35);
  border: 3px solid #018080;
  border-radius: 40px 40px 40px 40px;
  display: flex;
  margin-top: 2rem;
  margin-left: 3rem;
  padding: 0.5rem 1rem;
  padding-right: 0.5rem;
  width: 45%;
  height: 7vh;
  input {
    align-self: normal;
    background-color: $background;
    border: none;
    color: $letter;
    height: 21px;
    outline: none;
    width: 95%;
  }
}

.navbar__glass {
  align-self: flex-end;
  background-color: rgb(37, 35, 35);
  border: none;
  transition:all .5s ease;
}

.navbar__button {
  align-items: center;
  background-color: $background;
  border: 3px solid #018080;
  border-radius: 40px 40px 40px 40px;
  color: $letter;
  display: flex;
  height:7vh;
  margin: 1rem;
  transition:all .5s ease;
  &:hover {
    background-color: #018080;
    color: white;

    
  }
  span{  
      margin-left: .5rem;
  }
}
  .navbar__log{
      display: flex;
      justify-content:space-between;
      width:25%;
  }

  .navbar__log2{
    display:flex;
    justify-content:flex-end;
    width: 20%;
  }

  .navbar__dropDownMenu{
    margin-right: 4rem;
    position: relative;
    
  }

.navbar__menu{
  background-color:lighten($color: $background, $amount: 10);
  display:block;
  max-height:400px;
  overflow: hidden;
  padding:1rem;
  position:absolute;
  transform:translateX(-60%);
  top: 58px;
  width: 200px;
  z-index: 2;
}

.navbar__menuItem{
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height:50px;
  margin-bottom: 5px;
  padding:.5rem;
  transition: all .5s ease;

  span{
    margin-left:10px;
  }

  &:hover{
    background-color:lighten($color: $background, $amount: 20);
    cursor: pointer;
    color:white;
  }
}

.navbar__searchButton{
  align-items: center;
  background-color: $background;
  border: 3px solid #018080;
  border-radius: 40px 40px 40px 40px;
  color: $letter;
  display: flex;
  height:7vh;
  padding: 1.3rem;
  width:100%;
  transition:all .5s ease;
  &:hover {
    background-color: #018080;
    color: white;
  }
  span{  
      margin-left: .5rem;
  }
  
}

.logginTrue{
  width: 14%;
  transform:translateX(20%);
}

.logginFalse{
  width: 14%;
  transform:translateX(7%);
}

.navbar__button2{
  align-items: center;
  background-color: $background;
  border: 3px solid #018080;
  border-radius: 40px 40px 40px 40px;
  color: $letter;
  display: flex;
  height:7vh;
  width:100%;
  transition:all .5s ease;
  &:hover {
    background-color: #018080;
    color: white;
    
  }
  span{  
      margin-left: .5rem;
  }
}

#login{
  width: 26%;
}

#create{
  width:55%;
}
